Repository acquia/cli, pull requests merged in 2021-05, with the labels that each got.

#533 DX-3701: Unpatch Symfony console
  composer.json
  composer.lock
Labels: chore

#536 Fix #483: [pull/push] add site argument
  src/Command/CommandBase.php
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  src/Command/Pull/PullFilesCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: enhancement

#537 Fix #535: [pull:code][windows] GIT_SSH_COMMAND not recognized
  src/Command/Pull/PullCommandBase.php
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
Labels: bug

#539 Fixes #538: Add archive:export command.
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushDatabaseCommand.php
  src/Helpers/LocalMachineHelper.php
  src/Output/Checklist.php
  src/Output/Spinner/Spinner.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
Labels: enhancement

#545 Use ACLI_ACCESS_TOKEN for auth if present
  config/prod/services.yml
  src/CloudApi/AccessTokenConnector.php
  src/CloudApi/ClientService.php
  src/CloudApi/CloudCredentials.php
  src/CloudApi/ConnectorFactory.php
  src/Command/Api/ApiCommandHelper.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CommandBase.php
  src/Helpers/TelemetryHelper.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/CloudApi/AccessTokenConnectorTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#543 Warn users to configure sites.php
  src/Command/CommandBase.php
  src/Command/Pull/PullCommandBase.php
Labels: enhancement

#546 Check access token expiration.
  config/prod/services.yml
  src/CloudApi/AccessTokenConnector.php
  src/CloudApi/CloudCredentials.php
  src/CloudApi/ConnectorFactory.php
  tests/phpunit/src/CloudApi/AccessTokenConnectorTest.php
Labels: enhancement

#552 Do not throw exception when update check fails.
  src/Command/CommandBase.php
  src/Command/HelloWorldCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/UpdateCommandTest.php
Labels: bug

#553 Avoid GitHub rate limiting.
  src/Command/CommandBase.php
  src/EventListener/ExceptionListener.php
Labels: bug

#550 Default dir to /home/ide/project in IDE for new command.
  src/Command/NewCommand.php
Labels: enhancement

#573 Adding violinist.
  README.md
  composer.json
  composer.lock
Labels: dependencies
