Repository acquia/cli, pull requests merged in 2021-07, with the labels that each got.

#607 Fix PHPCS
  phpcs.xml.dist
  src/Command/Api/ApiCommandHelper.php
  src/Command/Ide/Wizard/IdeWizardCreateSshKeyCommand.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Ssh/SshKeyCreateUploadCommand.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
Labels: chore

#594 Add user agent to ali ACLI requests to Cloud API
  src/CloudApi/ClientService.php
  src/Command/Api/ApiCommandBase.php
Labels: bug

#610 Fix #609: Uncaught error during update check
  src/Command/CommandBase.php
Labels: bug

#603 [pull:db] --no-import option
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: enhancement
