Repository acquia/cli, pull requests merged in 2021-02, with the labels that each got.

#408 Fix Travis CI tests (curl failure)
  .travis.yml
Labels: chore

#411 Mock application test network requests
  .travis.yml
  config/services.yml
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#418 DX-3453: Include Production Environment as an option when copying from Cloud Platform.
  src/Command/Pull/PullCommandBase.php
Labels: enhancement

#417 Use IO to ask questions and display default values.
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CommandBase.php
  src/Command/Ssh/SshKeyCreateCommand.php
  src/Command/Ssh/SshKeyCreateUploadCommand.php
  src/Command/Ssh/SshKeyUploadCommand.php
  tests/phpunit/src/Commands/Ssh/SshKeyListCommandTest.php
Labels: enhancement

#419 Resolve API token access issue.
  config/services.yml
  src/Command/Api/ApiCommandHelper.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CommandBase.php
  src/Helpers/CloudCredentials.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/Api/ApiListCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#423 Support legacy API keys.
  src/Helpers/CloudCredentials.php
Labels: bug

#429 Use consistent help text for environmentId.
  src/Command/CommandBase.php
  src/Command/LogTailCommand.php
  src/Command/Pull/PullCodeCommand.php
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullDatabaseCommand.php
  src/Command/Pull/PullFilesCommand.php
  src/Command/Pull/PullScriptsCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
Labels: enhancement

#428 Unserialized values in cloud_api.conf.
  config/services.yml
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CommandBase.php
  src/Helpers/TelemetryHelper.php
Labels: enhancement

#430 Fixes #425: acli new formatting is off in the Cloud IDE terminal.
  src/Command/NewCommand.php
  tests/phpunit/src/Commands/NewCommandTest.php
Labels: bug

#422 Fix #398: [pull] Change dir argument to option
  src/Command/Pull/PullCodeCommand.php
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullScriptsCommand.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullScriptsCommandTest.php
Labels: enhancement

#441 Phar not generated for 1.7.1
  .travis.yml
  composer.lock
Labels: chore

#444 Fixes #434: Override the spec to better set expectations when an IDE is going to be deleted.
  src/EventListener/ExceptionListener.php
Labels: enhancement

#443 Fixes #431: Make it obvious you can pass a sitegroup.env every time you can pass an environment ID.
  src/EventListener/ExceptionListener.php
Labels: enhancement
