Repository acquia/cli, pull requests merged in 2021-12, with the labels that each got.

#733 Make `push:artifact` push to multiple git repos
  composer.json
  composer.lock
  src/Command/Push/PushArtifactCommand.php
  src/DataStore/YamlStore.php
  symfony.lock
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: dependencies, enhancement

#737 Fixes #557: Throw error if $HOME cannot be determined.
  src/Helpers/LocalMachineHelper.php
Labels: bug

#735 Fix #722: Errors linking Cloud application when running non-interactively
  src/Command/CommandBase.php
  src/Command/Ide/IdeOpenCommand.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
Labels: bug

#743 Fix acli new failing due to ACMS patch
  src/Command/NewCommand.php
  tests/phpunit/src/Commands/NewCommandTest.php
Labels: bug

#744 Fix #731: Incorrect sites/files directory on ACN
  src/Command/CommandBase.php
Labels: bug

#739 Fixes #731: Compress files for push:files and pull:files commands
  src/Command/CommandBase.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushFilesCommand.php
  src/Helpers/TelemetryHelper.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Push/PushFilesCommandTest.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
Labels: bug

#741 Fixes #721: Add --destination-dir option to remote:aliases:download.
  src/Command/Remote/AliasesDownloadCommand.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
Labels: enhancement

#745 Fixes #742: Fail gracefully when no Drupal installation is found.
  src/Command/CommandBase.php
Labels: bug

#746 Fixes #611: When the --no-interaction flag is passed, fail informatively.
  src/Command/Ssh/SshKeyCreateCommand.php
Labels: bug

#748 Remove display artifact from pull commands.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
Labels: bug

#750 Update ComposerScriptsListener.php
  src/EventListener/ComposerScriptsListener.php
Labels: enhancement

#751 Fix rsync on Cloud next
  src/Command/CommandBase.php
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
Labels: bug

#752 Fix files destination.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
Labels: bug

#753 Update all Composer dependencies.
  composer.lock
Labels: dependencies

#755 Allow push:artifact args to be passed via env var.
  src/Command/Push/PushArtifactCommand.php
Labels: enhancement

#759 CLI-597: Update Cloud API spec.
  assets/acquia-spec.yaml
Labels: enhancement

#758 CLI-596: Remove destination-git-branch from .acquia-cli.yml.
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#761 Fixes #756: Replace webmozart/path-util with symfony/filesystem.
  composer.json
  composer.lock
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/ClearCacheCommand.php
  src/Command/CommandBase.php
  src/Command/NewCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Remote/AliasesDownloadCommand.php
  src/EventListener/ComposerScriptsListener.php
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/NewCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateUploadCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
  tests/phpunit/src/Commands/TelemetryCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/Misc/ApiSpecTest.php
  tests/phpunit/src/TestBase.php
Labels: dependencies, enhancement

#760 Fixes #757: Support binary data arguments for Cloud API.
  src/Command/Api/ApiCommandBase.php
  src/Command/CommandBase.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
Labels: bug

#765 CLI-604: Drop support for PHP 7.3
  .github/workflows/ci.yml
  composer.json
  composer.lock
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Misc/LandoInfoTrait.php
Labels: dependencies
