Repository acquia/cli, pull requests merged in 2021-04, with the labels that each got.

#504 DX-3643: [pull:db] improve memory usage
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
Labels: bug

#520 Upload acli.phar on every commit
  .travis.yml
Labels: enhancement

#519 Fail silently when unable to find update.
  src/Command/CommandBase.php
Labels: bug

#518 Fix #495: [windows] No browser found
  src/Helpers/LocalMachineHelper.php
Labels: bug

#523 Fixes #522: ACLI fails to push the database.
  src/Command/CommandBase.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
Labels: bug

#527 Fix #505: Indent composer.json 4 spaces
  composer.json
Labels: chore

#529 Fixes #528: Accept IDE label via --label option.
  src/Command/Ide/IdeCreateCommand.php
Labels: enhancement

#506 [push:code] build artifacts
  composer.json
  composer.lock
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  symfony-fs-mirror.patch
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/Push/PushCodeCommandTest.php
Labels: enhancement

#526 Fix #509: [push/pull] cannot select environment
  src/Command/Pull/PullCommandBase.php
Labels: bug
