Repository acquia/cli, pull requests merged in 2021-09, with the labels that each got.

#635 Use GitHub labeler action.
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/labeler.yml
Labels: chore

#638 Update all Composer dependencies
  composer.lock
Labels: dependencies

#632 Fixes #621: Skip progress if pv is not installed, show warning.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
Labels: bug

#640 High memory usage during pull:db
  composer.json
  composer.lock
  src/CloudApi/ClientService.php
  src/Command/Api/ApiCommandBase.php
  src/Command/Pull/PullCommandBase.php
  tests/fixtures/backups_response.json
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug, dependencies

#634 Fixes #530: Ensure Git and Composer exist
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/NewCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  src/Command/Ssh/SshKeyCreateCommand.php
  src/Helpers/LocalMachineHelper.php
  src/Helpers/SshHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
  tests/phpunit/src/Commands/NewCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
  tests/phpunit/src/Commands/Push/PushFilesCommandTest.php
  tests/phpunit/src/Commands/Remote/DrushCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTest.php
Labels: enhancement

#643 Check for verbose output properly.
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
Labels: bug

#649 Pull command fails due to missing variable default values
  src/Command/Pull/PullCommandBase.php
Labels: bug

#648 Fixes #641: Trigger custom scripts after acli pull commands
  bin/acli
  config/prod/services.yml
  src/Command/Api/ApiCommandHelper.php
  src/Command/CommandBase.php
  src/EventListener/ComposerScriptsListener.php
  src/EventListener/ExceptionListener.php
  src/Helpers/LocalMachineHelper.php
  src/Helpers/SshHelper.php
  tests/fixtures/project/composer.json
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/Api/ApiListCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeXdebugToggleCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Remote/DrushCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTestBase.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#652 Add release instructions to MAINTAINING.md.
  MAINTAINING.md
Labels: chore

#650 Fixes #599: Autoselect db and files if site is selected.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/InferApplicationTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: enhancement

#654 Automated release failures
  .github/workflows/ci.yml
Labels: chore

#656 Release issues related to caching
  .env
  .github/workflows/ci.yml
  CONTRIBUTING.md
  bin/acli
  box.json
Labels: chore

#658 Fix #657: Remove assets from phar
  box.json
  src/Command/Api/ApiCommandHelper.php
Labels: enhancement

#664 Allow git url and branch to be passed to push:artifact.
  src/Command/Push/PushArtifactCommand.php
  tests/fixtures/project/docroot/core/.gitkeep
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#669 Do not check source dir for core dir.
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
Labels: enhancement

#671 Add gitlab:wizard command.
  .gitignore
  src/Command/GitLab/Wizard/GitLabWizardCreateSshKeyCommand.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ide/Wizard/IdeWizardCreateSshKeyCommand.php
  src/Command/Ide/Wizard/IdeWizardDeleteSshKeyCommand.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/WizardCommandBase.php
  src/Output/Checklist.php
  src/Output/Spinner/Spinner.php
  tests/phpunit/src/Commands/ChecklistTest.php
  tests/phpunit/src/Commands/GitLab/Wizard/GitLabWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeRequiredTestBase.php
  tests/phpunit/src/Commands/Ide/IdeRequiredTestTrait.php
  tests/phpunit/src/Commands/Ide/IdeServiceRestartCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeShareCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeXdebugToggleCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardDeleteSshKeyCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardTestBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/Misc/EnvDbCredsTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement
