Repository acquia/cli, pull requests merged in 2021-03, with the labels that each got.

#446 Better set expectations when a pre-provisioned IDE is going to be available
  src/Command/Ide/IdeCreateCommand.php
  tests/phpunit/src/Commands/ChecklistTest.php
Labels: enhancement

#447 Fixes #436: Suggest a default IDE label to not let the new user confused as to what is expected.
  src/Command/Ide/IdeCreateCommand.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
Labels: enhancement

#448 Fixes #434: Improve messaging for IDE deletion.
  src/Command/Ide/IdeDeleteCommand.php
  src/EventListener/ExceptionListener.php
Labels: enhancement

#452 Improve contextual help in command output
  bin/acli
  config/dev/services.yml
  config/prod/services.yml
  src/Command/CommandBase.php
  src/Command/Ide/IdeOpenCommand.php
  src/EventListener/ExceptionListener.php
  src/Kernel.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
Labels: enhancement

#455 Fixes #433: Infinite memory usage results in acli login
  composer.json
Labels: bug

#454 Fixes DX-3504: Check for support access when listing applications.
  src/Command/CommandBase.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/ClearCacheCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeListCommandTest.php
  tests/phpunit/src/Commands/Remote/DrushCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTestBase.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#453 Move help text to end of output.
  bin/acli
  config/prod/services.yml
  src/Application.php
  src/EventListener/ExceptionListener.php
  src/Kernel.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#457 Do not show help text for invalid commands.
  src/EventListener/ExceptionListener.php
Labels: bug

#456 Suggest -vvv flag in help text.
  composer.lock
  src/EventListener/ExceptionListener.php
Labels: enhancement

#459 [pull:db] Allow on-demand backups
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: enhancement

#463 DX-3486: [new] fails for existing git repo
  src/Command/NewCommand.php
  tests/phpunit/src/Commands/NewCommandTest.php
Labels: bug

#465 Do not require authentication for pull:run-scripts.
  src/Command/Pull/PullScriptsCommand.php
Labels: bug

#462 Fixes #461: Ability to set DB credentials via environment variables.
  .gitignore
  src/Command/CommandBase.php
  tests/phpunit/src/Misc/EnvDbCredsTest.php
Labels: enhancement

#471 Fixes #469: Users are confused with default options when generating an SSH key or creating an IDE.
  src/Command/Auth/AuthLoginCommand.php
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Ssh/SshKeyCreateCommand.php
  src/Command/Ssh/SshKeyDeleteCommand.php
  src/Command/Ssh/SshKeyUploadCommand.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
Labels: enhancement

#470 #Fixes: 468: Users get confused because there's no visible output when entering their API secret.
  src/Command/Auth/AuthLoginCommand.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
Labels: enhancement

#475 Fixes #474: Trying to only run the scripts where there's no codebase should gracefully fail.
  src/Command/Pull/PullCommandBase.php
Labels: bug

#478 Fix #467: Spinners clear terminal output
  composer.json
  composer.lock
  symfony.lock
Labels: bug

#481 Fix bug with missing on-demand option.
  src/Command/Pull/PullCommandBase.php
Labels: bug

#480 Prevent un-useful error when command is missing.
  src/EventListener/ExceptionListener.php
Labels: bug

#477 DX-2323: Improve output of pull command, show progress detail.
  composer.json
  composer.lock
  src/Command/CommandBase.php
  src/Command/Ide/IdeCommandBase.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Ssh/SshKeyCreateCommand.php
  src/Helpers/LocalMachineHelper.php
  src/Output/Checklist.php
  src/Output/Spinner/Spinner.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullScriptsCommandTest.php
Labels: enhancement

#487 Don't allow pushing db or files to production.
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
Labels: enhancement

#490 Fixes #489: Check database backup URL response status code.
  src/Command/Pull/PullCommandBase.php
  tests/fixtures/backups_response.json
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: bug

#494 Ensure every prompt has a default response
  src/Command/CommandBase.php
  src/Command/Ide/IdeCommandBase.php
  src/Command/NewCommand.php
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyDeleteCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
Labels: enhancement

#476 Fixes #472: Acquia CLI tries to pull the files directory even when no files directory exists yet.
  src/Command/CommandBase.php
Labels: bug

#473 DX-3583: Allow Cloud API base URI to be set via ACLI_CLOUD_API_BASE_URI.
  composer.lock
  config/prod/services.yml
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CommandBase.php
  src/Helpers/CloudCredentials.php
Labels: enhancement

#498 Fix #496: Deploy builds failing
  composer.json
Labels: chore

#501 Fixes #491: In Cloud IDE, do not ask whether to clone a project in the project directory.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
Labels: enhancement

#502 Fixes #492: Indicate backup age.
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
Labels: enhancement

#484 Fixes #482: Warn on pull if upstream environment uses different PHP version that current.
  src/Command/Pull/PullCodeCommand.php
  src/Command/Pull/PullCommandBase.php
Labels: enhancement
