Repository acquia/cli, pull requests merged in 2022-08, with the labels that each got.

#1116 grumphp back to stable release
  composer.json
  composer.lock
Labels: chore

#1118 CLI-834: Reduce method visibility
  composer.json
  infection.json
  phpcs.xml.dist
  src/AcsfApi/AcsfCredentials.php
  src/Application.php
  src/CloudApi/ClientService.php
  src/Command/Acsf/AcsfApiAuthLoginCommand.php
  src/Command/Api/ApiBaseCommand.php
  src/Command/Api/ApiCommandHelper.php
  src/Command/App/NewCommand.php
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/CommandBase.php
  src/Command/Email/ConfigurePlatformEmailCommand.php
  src/Command/Email/EmailInfoForSubscriptionCommand.php
  src/Command/Env/EnvDeleteCommand.php
  src/Command/Env/EnvMirrorCommand.php
  src/Command/Ide/IdeCommandBase.php
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Ide/IdePhpVersionCommand.php
  src/Command/Ide/IdeServiceRestartCommand.php
  src/Command/Ide/IdeServiceStartCommand.php
  src/Command/Ide/IdeServiceStopCommand.php
  src/Command/Ide/IdeShareCommand.php
  src/Command/Ide/IdeXdebugToggleCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/Ssh/SshKeyInfoCommand.php
  src/Command/WizardCommandBase.php
  src/Descriptor/ReStructuredTextDescriptor.php
  src/EventListener/ExceptionListener.php
  src/Helpers/DataStoreContract.php
  src/Helpers/IdeCommandTrait.php
  src/Helpers/LocalMachineHelper.php
  src/Helpers/SshCommandTrait.php
  src/Helpers/SshHelper.php
  src/Helpers/TelemetryHelper.php
  src/Output/Checklist.php
  src/Output/Spinner/Spinner.php
  tests/phpunit/src/ApplicationTestBase.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardTestBase.php
  tests/phpunit/src/Commands/Ssh/SshKeyDeleteCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyListCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
Labels: chore

#1120 CLI-176: Unpatch Symfony filesystem
  composer.json
  composer.lock
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
Labels: chore

#1121 CLI-799: Support multiple dbs
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: enhancement

#1117 CLI-832 | Acli tool export json file with extract characters on the command acli email:configure
  src/Command/Email/ConfigurePlatformEmailCommand.php
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
Labels: bug

#1124 Catch Composer PSR issues
  .github/workflows/ci.yml
Labels: chore

#1125 Update API spec
  assets/acquia-spec.yaml
  composer.json
Labels: chore

#1126 CLI-829: env:create error
  src/Command/Env/EnvCreateCommand.php
  tests/phpunit/src/Commands/Env/EnvCreateCommandTest.php
Labels: bug

#1127 CLI-836: Cron label is non-nullable
  .gitignore
  composer.lock
  src/CloudApi/AccessTokenConnector.php
  src/Command/Env/EnvCopyCronCommand.php
  tests/phpunit/src/Commands/Env/EnvCopyCronCommandTest.php
Labels: chore

#1140 CLI-529: Idiomatic account IDE endpoint
  .editorconfig
  composer.json
  composer.lock
  src/Command/Ide/IdeListMineCommand.php
Labels: chore

#1141 CLI-830: Fix terminal width in tests and clean up types
  tests/phpunit/src/ApplicationTestBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
  tests/phpunit/src/Commands/App/TaskWaitCommandTest.php
  tests/phpunit/src/Commands/ChecklistTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateUploadCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/TestBase.php
Labels: chore
