Repository acquia/cli, pull requests merged in 2022-05, with the labels that each got.

#873 Allow code studio project configure/create from local machine
  src/Command/CodeStudio/CodeStudioWizardCommand.php
Labels: enhancement

#964 Fix mutation reporting, make it less verbose
  .github/workflows/mutation.yml
Labels: chore

#963 Remove duplicate release drafter trigger
  .github/workflows/release-drafter.yml
Labels: chore

#966 Fixes #959: Unrecognized options "key, secret" under "cloud_api". Did you mean "keys"?
  src/DataStore/JsonDataStore.php
Labels: bug

#967 Update ACSF specification.
  .gitignore
  assets/acsf-spec.yaml
  config/prod/services.yml
  src/AcsfApi/AcsfClientService.php
  src/Command/Acsf/AcsfListCommand.php
  src/Command/Api/ApiBaseCommand.php
  src/Command/Api/ApiCommandHelper.php
  src/Command/Api/ApiListCommand.php
  src/Command/Api/ApiListCommandBase.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
Labels: enhancement

#960 CLI-657: Improve SSH key polling and permission checks
  src/Command/CommandBase.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ide/Wizard/IdeWizardCreateSshKeyCommand.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Helpers/SshHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#968 Update ACSF spec.
  assets/acsf-spec.yaml
  src/Command/Acsf/AcsfListCommandBase.php
  src/Command/Api/ApiCommandHelper.php
  src/Command/Api/ApiListCommandBase.php
  src/Command/ClearCacheCommand.php
  src/Command/ListCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
Labels: chore

#971 Fix error when running phar.
  src/Command/Api/ApiCommandHelper.php
Labels: bug

#973 Move acsf:auth:* to auth:acsf-*
  config/prod/services.yml
  src/Command/Acsf/AcsfApiAuthLoginCommand.php
  src/Command/Acsf/AcsfApiAuthLogoutCommand.php
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Acsf/AcsfCommandBase.php
  src/Command/CommandBase.php
Labels: chore

#972 Fixes #969: acli update should only download when a new release is available
  composer.json
  composer.lock
Labels: bug

#975 CLI-754: Fix slow PHPUnit tests
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Ssh/SshKeyCommandBase.php
  tests/phpunit/src/ApplicationTestBase.php
  tests/phpunit/src/TestBase.php
Labels: chore

#979 Add commands to create CDE and mirror environments.
  src/Command/Acsf/AcsfListCommandBase.php
  src/Command/App/CopyCronTasksCommand.php
  src/Command/App/CreateCdeCommand.php
  src/Command/App/EnvironmentMirrorCommand.php
  src/Command/CommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/CreateCdeCommandTest.php
  tests/phpunit/src/Commands/App/EnvironmentMirrorCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#983 AcquiaPHP 1.0 code standards
  composer.json
  composer.lock
  src/AcsfApi/AcsfConnector.php
  src/Command/Acsf/AcsfApiAuthLogoutCommand.php
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Acsf/AcsfCommandBase.php
  src/Command/Acsf/AcsfCommandFactory.php
  src/Command/Api/ApiCommandFactory.php
  src/Command/App/AppOpenCommand.php
  src/Command/App/CreateCdeCommand.php
  src/Command/App/EnvironmentMirrorCommand.php
  src/Command/Email/EmailInfoForSubscriptionCommand.php
  src/Config/AcquiaCliConfig.php
  src/Config/CloudDataConfig.php
  src/DataStore/AcquiaCliDatastore.php
  src/DataStore/CloudDataStore.php
  src/DataStore/DataStoreInterface.php
  src/DataStore/Datastore.php
  src/DataStore/JsonDataStore.php
  src/Helpers/DataStoreContract.php
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/CloudApi/CloudServiceTest.php
  tests/phpunit/src/Commands/Acsf/AcsfCommandTestBase.php
  tests/phpunit/src/Commands/App/AppOpenCommandTest.php
  tests/phpunit/src/Commands/App/CreateCdeCommandTest.php
  tests/phpunit/src/Commands/App/EnvironmentMirrorCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
  tests/phpunit/src/Commands/Email/EmailInfoForSubscriptionCommandTest.php
  tests/phpunit/src/Misc/LandoInfoTrait.php
Labels: chore

#976 CLI-758: PHP 8.1 warnings
  .github/workflows/ci.yml
  composer.json
  composer.lock
  phpunit.xml.dist
  src/Command/CommandBase.php
  src/Command/Email/EmailInfoForSubscriptionCommand.php
  src/Command/Ssh/SshKeyListCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeHelper.php
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeRequiredTestTrait.php
  tests/phpunit/src/Commands/Ide/IdeShareCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeXdebugToggleCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardDeleteSshKeyCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Misc/LandoInfoHelper.php
  tests/phpunit/src/Misc/LandoInfoTest.php
Labels: chore

#998 Fixes #990: app:environment:mirror without arguments should not fail.
  src/Command/App/EnvironmentMirrorCommand.php
Labels: bug

#999 Fixes #989: Fatal PHP error when using app:environment:mirror.
  src/Command/App/EnvironmentMirrorCommand.php
Labels: bug

#889 Add support for ACLI plugins.
  bin/acli
  src/Kernel.php
Labels: enhancement

#1000 Add app:environment:delete command.
  src/Command/App/DeleteCdeCommand.php
  tests/phpunit/src/Commands/App/DeleteCdeCommandTest.php
Labels: enhancement

#1010 CLI-768: Support array responses from ACSF.
  src/AcsfApi/AcsfClient.php
  src/AcsfApi/AcsfClientService.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
Labels: bug

#1006 CLI-679: Consolidate internal commands under self
  src/Command/App/NewCommand.php
  src/Command/App/UnlinkCommand.php
  src/Command/Self/ClearCacheCommand.php
  src/Command/Self/ListCommand.php
  src/Command/Self/TelemetryCommand.php
  src/Command/Self/TelemetryDisableCommand.php
  src/Command/Self/TelemetryEnableCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
  tests/phpunit/src/Commands/Api/ApiListCommandTest.php
  tests/phpunit/src/Commands/ClearCacheCommandTest.php
  tests/phpunit/src/Commands/NewCommandTest.php
  tests/phpunit/src/Commands/TelemetryCommandTest.php
  tests/phpunit/src/Commands/TelemetryDisableCommandTest.php
  tests/phpunit/src/Commands/TelemetryEnableCommandTest.php
  tests/phpunit/src/Commands/UnlinkCommandTest.php
  tests/phpunit/src/Misc/EnvDbCredsTest.php
  tests/phpunit/src/Misc/LandoInfoTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1011 Fixes CLI-768: CLI string input with only digits should be interpretted as integer.
  src/Command/Api/ApiBaseCommand.php
Labels: bug

#1022 Fixes CLI-779: Support multiple data types in arguments.
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
Labels: bug
