Repository acquia/cli, pull requests merged in 2022-01, with the labels that each got.

#775 Fixes #774: acli push:artifact does not force add scaffold files.
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: bug

#771 CLI-611: Add codestudio:wizard command to automatically configure projects.
  composer.json
  composer.lock
  src/CloudApi/ClientService.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/Auth/AuthLogoutCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/CommandBase.php
  src/Command/GitLab/Wizard/GitLabWizardCreateSshKeyCommand.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/WizardCommandBase.php
  src/Helpers/TelemetryHelper.php
  symfony.lock
  tests/phpunit/src/CloudApi/CloudServiceTest.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
  tests/phpunit/src/Commands/Auth/AuthLogoutCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Commands/GitLab/Wizard/GitLabWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/TestBase.php
Labels: dependencies, enhancement

#778 CLI-618: Fix cs:wizard reauth.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/Ssh/SshKeyCreateCommand.php
  src/Command/Ssh/SshKeyCreateUploadCommand.php
  src/Command/Ssh/SshKeyUploadCommand.php
  src/Command/WizardCommandBase.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateUploadCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#779 Support PHP 8.1
  .github/workflows/ci.yml
Labels: chore

#784 Execute cs:wizard commands inside /home/ide/project.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#785 Remove plugin prompts from `acli new` command. (#784)
  src/Command/NewCommand.php
  tests/phpunit/src/Commands/NewCommandTest.php
Labels: enhancement

#787 Fixes #766: Incorrect required request parameter name for api:subscriptions:post-domain-registration endpoint.
  assets/acquia-spec.yaml
Labels: bug

#788 Composer update.
  composer.lock
  tests/phpunit/src/CommandTestBase.php
Labels: dependencies

#789 CLI-627: Fix ssh-key:create-upload.
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/Ssh/SshKeyCreateUploadCommand.php
Labels: bug

#791 Parse GitLab hostname from url.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
Labels: bug

#794 Update one time push message for cs:wizard.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#793 CLI-632: Add variables to scheduled jobs.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#797 CLI-636: Improve UX of cs:wizard command.
  bin/acli
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/Push/PushArtifactCommand.php
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#802 New command should set default git branch to main.
  src/Command/NewCommand.php
  tests/phpunit/src/Commands/NewCommandTest.php
Labels: enhancement
