Repository acquia/cli, pull requests merged in 2022-06, with the labels that each got.

#1025 Fixes Gl-573: Add `codestudio:pipelines-migrate` command.
  composer.lock
  src/Command/CodeStudio/CodeStudioCiCdVariables.php
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/fixtures/project/acquia-pipelines.yml
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#1027 Fixes CLI-773: Change "password" to "key" for ACSF commands.
  src/AcsfApi/AcsfClient.php
  src/AcsfApi/AcsfClientService.php
  src/AcsfApi/AcsfCredentials.php
  src/Command/Acsf/AcsfApiAuthLoginCommand.php
  src/Config/CloudDataConfig.php
  tests/phpunit/src/AcsfApi/AcsfServiceTest.php
  tests/phpunit/src/AcsfApi/EnvVarAcsfAuthenticationTest.php
  tests/phpunit/src/Commands/Acsf/AcsfAuthLoginCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfCommandTestBase.php
Labels: enhancement

#1028 Check for required permissions before running `ide:wizard`.
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/CommandBase.php
  src/Command/Ide/Wizard/IdeWizardCreateSshKeyCommand.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
Labels: enhancement

#1034 DG-26033: Add interactive support for boolean arguments.
  assets/acsf-spec.yaml
  src/Command/Api/ApiBaseCommand.php
  src/Command/Api/ApiCommandHelper.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
Labels: enhancement

#1035 Update Cloud API spec.
  assets/acquia-spec.yaml
Labels: enhancement

#1036 Composer update.
  composer.json
  composer.lock
Labels: enhancement

#1039 Fix ACSF specification.
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/CommandTestBase.php
Labels: bug

#1041 Increase code coverage
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
Labels: bug

#1042 DG-26035: Add support for array arguments.
  src/Command/Api/ApiBaseCommand.php
Labels: bug

#1046 ACLI migrate command fix.
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
Labels: bug

#1047 Update spec to include Cloud Actions.
  assets/acquia-spec.yaml
  src/Command/Api/ApiCommandHelper.php
Labels: enhancement

#1048 Rename app:environment:* to env:*.
  src/Command/Env/EnvCopyCronCommand.php
  src/Command/Env/EnvCreateCommand.php
  src/Command/Env/EnvDeleteCommand.php
  src/Command/Env/EnvMirrorCommand.php
  tests/phpunit/src/Commands/Env/EnvCopyCronCommandTest.php
  tests/phpunit/src/Commands/Env/EnvCreateCommandTest.php
  tests/phpunit/src/Commands/Env/EnvDeleteCommandTest.php
  tests/phpunit/src/Commands/Env/EnvMirrorCommandTest.php
Labels: chore

#1053 Update ACSF spec with required parameters.
  assets/acsf-spec.yaml
Labels: enhancement

#1055 Set value of unset options to NULL.
  src/Command/Api/ApiBaseCommand.php
Labels: bug

#1059 Fixes #460: Try more domains when SSL cert in invalid.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: bug

#1061 Fixes CLI-801: Certain ACSF commands don't accept passing multiple integers.
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
Labels: bug

#1064 Update ACSF spec with latest fixes
  assets/acsf-spec.yaml
Labels: bug

#1066 Remove stdin support from app:task-wait, use arguments.
  src/Command/App/TaskWaitCommand.php
  tests/phpunit/src/Commands/App/TaskWaitCommandTest.php
Labels: bug

#1057 Fixed bug GL-701, GL-702
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
Labels: bug

#1072 Fixing the support of gitlab hostname from local machine for code stu…
  src/Command/CodeStudio/CodeStudioCommandTrait.php
Labels: bug
