Repository acquia/cli, pull requests merged in 2022-10, with the labels that each got.

#1183 CLI-857: Warning on missing refresh token
  composer.json
  composer.lock
  src/CloudApi/CloudCredentials.php
  src/EventListener/ExceptionListener.php
  src/Exception/AcquiaCliException.php
  tests/phpunit/src/CloudApi/AccessTokenConnectorTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#1201 CLI-866: Fix PHP error on ide:create
  src/Command/Ide/IdeCreateCommand.php
Labels: bug

#1211 CXAPI-7208: Response examples include data type
  tests/phpunit/src/TestBase.php
Labels: chore

#1209 CLI-863: Fix Drush alias download
  .github/workflows/mutation.yml
  composer.json
  composer.lock
  src/Command/Remote/AliasesDownloadCommand.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#1197 CLI-861: Use virtual fs for tests
  src/Command/CodeStudio/CodeStudioPipelinesMigrateCommand.php
  tests/fixtures/ssh/.gitkeep
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/NewCommandTest.php
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTest.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyInfoCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyListCommandTest.php
  tests/phpunit/src/Misc/LocalMachineHelperTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1214 CLI-868: Refresh Tokens are invalidated too frequently while Acquia C…
  src/CloudApi/AccessTokenConnector.php
Labels: bug

#1215 Update CXAPI and remove workaround
  assets/acquia-spec.yaml
  tests/phpunit/src/Commands/Env/EnvCopyCronCommandTest.php
Labels: chore

#1193 CLI-864 | Unhide cs:wizard from list of ACLI commands
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement
