Repository acquia/cli, pull requests merged in 2022-03, with the labels that each got.

#832 Transform project name into asciii safe slugs.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
Labels: bug

#833 Add git push instructions to cs:wizard.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
Labels: enhancement

#792 Fixes #790: add --all option to remote:aliases:download (CLI-629)
  src/Command/Remote/AliasesDownloadCommand.php
  tests/fixtures/project/testdir/sites/devcloud2.site.yml
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
Labels: enhancement

#828 Fixes #824: Adding new command to copy all cron jobs from one env to another env.
  src/Command/App/CopyCronTasksCommand.php
  tests/phpunit/src/Commands/App/CopyCronTasksCommandTest.php
Labels: enhancement

#842 CLI-685: Set up email:info command
  .gitignore
  composer.json
  composer.lock
  src/Command/Email/EmailInfoForSubscriptionCommand.php
  symfony.lock
  tests/phpunit/src/Commands/Email/EmailInfoForSubscriptionCommandTest.php
Labels: dependencies, enhancement

#844 Add make:docs command.
  CONTRIBUTING.md
  src/Command/Api/ApiCommandHelper.php
  src/Command/Self/MakeDocsCommand.php
  src/Descriptor/ReStructuredTextDescriptor.php
  tests/phpunit/src/Commands/Self/MakeDocsCommandTest.php
Labels: enhancement

#845 Fix Symfony lock
  composer.lock
  symfony.lock
Labels: dependencies

#840 CLI-684: Automate CCB ticket creation for pre-releases.
  .github/workflows/ccb-ticket.twig
  .github/workflows/create-ccb-ticket.sh
  .github/workflows/release.yml
  composer.json
  composer.lock
  symfony.lock
Labels: chore

#858 CLI-575: Fix stalled tests
  src/Command/CommandBase.php
  src/Command/Ide/IdeDeleteCommand.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ide/Wizard/IdeWizardDeleteSshKeyCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/Ssh/SshKeyDeleteCommand.php
  src/Helpers/SshCommandTrait.php
  tests/phpunit/src/Commands/Ide/IdeDeleteCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardDeleteSshKeyCommandTest.php
Labels: bug

#861 Fix #860: app:cron-copy copies between envs not apps
  src/Command/App/CopyCronTasksCommand.php
  tests/phpunit/src/Commands/App/CopyCronTasksCommandTest.php
Labels: bug

#863 CLI-702: Parallel PHP linting
  .gitignore
  .phplint.yml
  composer.json
  composer.lock
  package-lock.json
  phpcs.xml.dist
  phpunit.xml.dist
  symfony.lock
Labels: dependencies

#865 Fixes #864: Fatal error with remote:aliases:download in ACLI 1.25.
  src/Command/Remote/AliasesDownloadCommand.php
Labels: bug

#857 Fixes #854: Add --tag option to push:artifact.
  src/Command/CommandBase.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#859 CLI-703: Use defined output for processes
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/Misc/LocalMachineHelperTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#869 Fix #661: Upgrade typhonius/acquia-logstream
  composer.json
  composer.lock
Labels: bug, dependencies

#866 Raise timeout for SSH key deployment.
  src/Command/Ssh/SshKeyCommandBase.php
Labels: enhancement

#847 Improve generated docs.
  src/Command/Api/ApiCommandHelper.php
  src/Descriptor/ReStructuredTextDescriptor.php
  tests/phpunit/src/Commands/Self/MakeDocsCommandTest.php
Labels: enhancement

#877 Small improvements to docs command.
  src/Command/DocsCommand.php
  src/Helpers/LocalMachineHelper.php
Labels: enhancement
