Repository acquia/cli, pull requests merged in 2022-04, with the labels that each got.

#879 Update Cloud API spec.
  assets/acquia-spec.yaml
Labels: enhancement

#881 Encode special chars for CCB ticket description.
  .github/workflows/create-ccb-ticket.sh
Labels: bug

#883 CLI-677: Fixes #834: For email:configure, add zone file as output format
  .github/workflows/ci.yml
  .gitignore
  composer.json
  composer.lock
  src/Command/Email/ConfigurePlatformEmailCommand.php
  symfony.lock
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
Labels: dependencies, enhancement

#887 Remove emojis from CCB ticket.
  .github/workflows/create-ccb-ticket.sh
Labels: bug

#890 Revert "CLI-677: Fixes #834: For email:configure, add zone file as output format"
  .github/workflows/ci.yml
  .gitignore
  composer.json
  composer.lock
  src/Command/Email/ConfigurePlatformEmailCommand.php
  symfony.lock
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
Labels: bug, dependencies

#892 For email:configure, add zone file as output format (without GMP extension).
  .gitignore
  composer.json
  composer.lock
  src/Command/Email/ConfigurePlatformEmailCommand.php
  symfony.lock
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
Labels: dependencies, enhancement

#895 Improve make docs, again.
  .gitignore
  .phplint.yml
  src/Descriptor/ReStructuredTextDescriptor.php
Labels: chore

#897 Fixes #894: acli update should not update to pre-releases.
  composer.json
  composer.lock
Labels: dependencies

#898 Update typhonius/acquia-logstream to 0.0.12.
  composer.json
  composer.lock
Labels: dependencies

#876 CLI-713: Fixes #875: Apache access logstream failing
  src/Command/App/LogTailCommand.php
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/App/LogTailCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#900 Do not consider preleases to be available for update.
  .github/workflows/create-ccb-ticket.sh
  src/Command/CommandBase.php
Labels: bug

#901 CLI-688: Fix grumphp PHP 8 compatibility
  composer.json
  composer.lock
  symfony.lock
Labels: bug, dependencies

#839 Fixes CLI-652: Support xDebug for PHP 8.
  src/Command/Ide/IdeCommandBase.php
  src/Command/Ide/IdePhpVersionCommand.php
  src/Command/Ide/IdeXdebugToggleCommand.php
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeXdebugToggleCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#906 DG-25844. Add ACSF openAPI regen script.
  composer.json
Labels: dependencies

#908 Fixes #907: api:applications:environment-create breaks if provides all arguments/options.
  src/Command/Api/ApiCommandBase.php
Labels: bug

#913 CLI-744: Fix #912: phpstan throws errors in PHP 8.1
  composer.json
  composer.lock
Labels: bug, dependencies

#915 CLI-556: Mutation testing
  .github/workflows/mutation.yml
  composer.json
  composer.lock
  infection.json
Labels: dependencies

#922 Auto-merge Violinist PRs
  .github/workflows/automerge.yml
Labels: chore

#930 Fixes #910: PHP warnings should cause tests to fail.
  phpunit.xml.dist
Labels: chore

#937 Allow for 0-index when determining cloud database name
  src/Command/Pull/PullCommandBase.php
Labels: bug

#942 Autolabel pull requests from Violinist
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore

#943 Add help message when local config is invalid
  src/EventListener/ExceptionListener.php
Labels: enhancement

#944 Fixes #534: Checklists eat verbose output.
  src/Output/Spinner/Spinner.php
Labels: bug

#945 Remove legacy cloud key code
  src/CloudApi/CloudCredentials.php
Labels: chore
