Repository acquia/cli, pull requests merged in 2022-07, with the labels that each got.

#1078 IDE-2333: Detect PHP version in IDE via config file
  .editorconfig
  phpcs.xml.dist
  src/Command/Ide/IdeCommandBase.php
  src/Command/Pull/PullCommandBase.php
  src/Helpers/IdeCommandTrait.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
Labels: enhancement

#1079 CLI-549: Allow for realm specificity
  src/Command/CommandBase.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/ClearCacheCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTestBase.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1100 CLI-821: ACSF api help points to incorrect documentation
  src/Command/Api/ApiCommandHelper.php
Labels: bug

#1098 CLI-825: Realm support for environment aliases
  src/Command/CommandBase.php
  src/Helpers/AliasCache.php
  tests/phpunit/src/Application/HelpApplicationTest.php
  tests/phpunit/src/ApplicationTestBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTestBase.php
Labels: bug

#1101 CLI-827: Deprecated usage of reactphp/event-loop
  src/Command/App/TaskWaitCommand.php
  src/Command/CommandBase.php
  src/Command/Env/EnvCreateCommand.php
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Helpers/LoopHelper.php
  tests/phpunit/src/Commands/ChecklistTest.php
  tests/phpunit/src/Commands/Env/EnvCreateCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1103 CLI-815: app:task-wait does not track failed notifications
  src/Command/CommandBase.php
  src/Command/Ide/IdeCreateCommand.php
  src/Helpers/LoopHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/TaskWaitCommandTest.php
Labels: bug
