Repository acquia/cli, pull requests merged in 2023-05, with the labels that each got.

#1482 Add codecov
  .github/workflows/ci.yml
  composer.json
  composer.lock
Labels: chore

#1483 php-openssl is required when building Dockerfile
  Dockerfile
Labels: bug

#1484 CLI-1026: Debug connection failures
  composer.json
  composer.lock
Labels: chore

#1485 CLI-1046: Cannot assign null to DatabaseResponse::user_name
  composer.json
  composer.lock
  src/Command/Pull/PullCommandBase.php
Labels: bug

#1491 CLI-1050: Grouped updates
  .github/dependabot.yml
Labels: chore

#1493 CLI-1051: getAnyAhEnvironment return value false
  src/Command/CommandBase.php
  src/Command/Ssh/SshKeyCommandBase.php
Labels: bug

#1500 CLI-1056: value must be type countable
  src/Command/Api/ApiBaseCommand.php
Labels: bug

#1505 CLI-1058: Fix remote:ssh
  src/Command/Remote/SshCommand.php
  tests/phpunit/src/Commands/Remote/SshCommandTest.php
Labels: bug

#1506 CLI-1061: [ssh-key:info] undefined array key
  src/Command/Ssh/SshKeyInfoCommand.php
Labels: bug

#1507 CLI-1060: Remove secrets from codebase
  .github/workflows/ci.yml
  CONTRIBUTING.md
  bin/acli
  composer.json
  composer.lock
Labels: chore

#1509 Set version from env file
  .github/workflows/ci.yml
  bin/acli
  box.json
Labels: chore

#1510 Refactor mock methods
  src/Helpers/SshCommandTrait.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/ClearCacheCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Remote/SshCommandTestBase.php
  tests/phpunit/src/Commands/Ssh/SshKeyCreateUploadCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyDeleteCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
  tests/phpunit/src/Commands/TelemetryCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1511 CLI-1066: [email:info] Attempt to read property "uuid" on null
  src/Command/CommandBase.php
  src/Command/Email/ConfigurePlatformEmailCommand.php
  src/Command/Email/EmailInfoForSubscriptionCommand.php
Labels: bug

#1512 CLI-1067: [remote:ssh] Typed property must not be accessed before initialization
  src/Command/Remote/SshCommand.php
  src/Helpers/SshHelper.php
Labels: bug

#1468 CLI-1031: Remove Lando overrides
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/CommandBase.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushDatabaseCommand.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Misc/EnvDbCredsTest.php
  tests/phpunit/src/Misc/LandoInfoHelper.php
  tests/phpunit/src/Misc/LandoInfoTest.php
Labels: chore

#1389 Adding new command for removing members from organization using email…
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1514 CLI-1069: [ssh-key:delete] undefined array key
  src/Command/CommandBase.php
  src/Helpers/SshCommandTrait.php
Labels: bug
