Repository acquia/cli, pull requests merged in 2023-06, with the labels that each got.

#1516 CLI-1070: Abandoned packages
  .github/workflows/ci.yml
  composer.lock
Labels: chore

#1517 CLI-1017: Replace roave/security-advisories
  .github/workflows/ci.yml
  composer.json
  composer.lock
Labels: chore

#1520 CLI-978: Upgrade coding standards
  composer.json
  composer.lock
  phpcs.xml.dist
Labels: chore

#1518 Fixes output of usage example for task-wait command
  src/Command/App/TaskWaitCommand.php
Labels: bug

#1515 CLI-1054: Support pull commands outside of IDEs
  phpunit.xml.dist
  src/Command/App/AppOpenCommand.php
  src/Command/Archive/ArchiveExportCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/CommandBase.php
  src/Command/Pull/PullCodeCommand.php
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  src/Command/Pull/PullFilesCommand.php
  src/Command/Pull/PullScriptsCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/bootstrap.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/AppOpenCommandTest.php
  tests/phpunit/src/Commands/App/AppVcsInfoTest.php
  tests/phpunit/src/Commands/ClearCacheCommandTest.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Commands/Email/EmailInfoForSubscriptionCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeDeleteCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeInfoCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeListCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeOpenCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeShareCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Push/PushFilesCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1525 CLI-1078: Automerge dependency updates
  .github/workflows/automerge.yml
Labels: chore

#1527 Throw exception if userAlias not found
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
Labels: bug

#1531 CLI-1082: [pull:db] typed property dir must not be accessed before initialization
  src/Command/Pull/PullCommandBase.php
Labels: bug

#1532 CLI-1083: Undefined array key request
  composer.json
  composer.lock
Labels: bug

#1547 CLI-1093: slevomat/coding-standard 8.13.1
  composer.lock
  src/Command/CommandBase.php
  src/Command/Ide/IdeXdebugToggleCommand.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Command/WizardCommandBase.php
  src/DataStore/Datastore.php
  src/Exception/AcquiaCliException.php
  src/Helpers/LocalMachineHelper.php
  src/Helpers/LoopHelper.php
  src/Helpers/TelemetryHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1560 CLI-1104: Undefined array key url
  src/Command/CommandBase.php
Labels: bug

#1559 CLI-1101: Set exit code 1 when a task waited command fails
  src/Command/App/TaskWaitCommand.php
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/App/TaskWaitCommandTest.php
Labels: enhancement

#1561 CLI-1098: [pull:files] better documentation
  src/Command/Pull/PullFilesCommand.php
  src/Command/Push/PushFilesCommand.php
  tests/phpunit/src/Application/KernelTest.php
Labels: chore
