Repository acquia/cli, pull requests merged in 2023-11, with the labels that each got.

#1621 Symfony Console 6
  composer.json
  composer.lock
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Acsf/AcsfListCommand.php
  src/Command/Acsf/AcsfListCommandBase.php
  src/Command/Api/ApiBaseCommand.php
  src/Command/Api/ApiListCommand.php
  src/Command/Api/ApiListCommandBase.php
  src/Command/App/AppOpenCommand.php
  src/Command/App/AppVcsInfo.php
  src/Command/App/LinkCommand.php
  src/Command/App/LogTailCommand.php
  src/Command/App/NewCommand.php
  src/Command/App/UnlinkCommand.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/Auth/AuthLogoutCommand.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  src/Command/DocsCommand.php
  src/Command/Email/ConfigurePlatformEmailCommand.php
  src/Command/Email/EmailInfoForSubscriptionCommand.php
  src/Command/Env/EnvCreateCommand.php
  src/Command/Env/EnvDeleteCommand.php
  src/Command/Env/EnvMirrorCommand.php
  src/Command/HelloWorldCommand.php
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Ide/IdeDeleteCommand.php
  src/Command/Ide/IdeInfoCommand.php
  src/Command/Ide/IdeListCommand.php
  src/Command/Ide/IdeListMineCommand.php
  src/Command/Ide/IdeOpenCommand.php
  src/Command/Ide/IdeShareCommand.php
  src/Command/Pull/PullCodeCommand.php
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullDatabaseCommand.php
  src/Command/Pull/PullFilesCommand.php
  src/Command/Push/PushArtifactCommand.php
  src/Command/Push/PushCodeCommand.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  src/Command/Remote/AliasListCommand.php
  src/Command/Remote/AliasesDownloadCommand.php
  src/Command/Remote/DrushCommand.php
  src/Command/Remote/SshCommand.php
  src/Command/Self/ListCommand.php
  src/Command/Self/MakeDocsCommand.php
  src/Command/Self/TelemetryCommand.php
  src/Command/Self/TelemetryDisableCommand.php
  src/Command/Self/TelemetryEnableCommand.php
Labels: chore

#1622 CLI-1151: Support PHP 8.3 and 8.4
  .github/workflows/ci.yml
Labels: enhancement

#1624 CLI-1192: Pin symfony/console
  .github/dependabot.yml
  composer.json
  composer.lock
Labels: chore

#1625 CLI-1186: push:artifact fails if empty directory exists
  assets/symfony-fs-mirror.patch
  composer.json
  composer.lock
  src/Command/Push/PushArtifactCommand.php
Labels: bug

#1626 Fix release drafter running twice
  .github/workflows/automerge.yml
Labels: chore

#1628 CLI-1208: Stop AMA-related bugsnag errors
  src/Helpers/TelemetryHelper.php
Labels: chore

#1631 CLI-1175: [auth:acsf-logout] undefined array key
  config/prod/services.yml
  src/Command/Auth/AuthAcsfLogoutCommand.php
Labels: bug

#1632 CLI-1175: [app:new:from:drupal7] argument path must be of type string
  src/Command/App/NewFromDrupal7Command.php
  src/Command/CommandBase.php
  src/Command/Ide/IdeCreateCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
Labels: bug

#1633 CLI-1217: push:artifact should infer app id from env id
  src/Command/CommandBase.php
Labels: enhancement

#1636 CLI-1221: TypeError and warning in remote:alises:download
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/InferApplicationTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
Labels: bug

#1641 CLI-1225: The pull:database command fails silently if pv is not installed.
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
Labels: bug

#1638 CLI-1210: Drop tables instead of database
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
Labels: bug, enhancement
