Repository acquia/cli, pull requests merged in 2023-01, with the labels that each got.

#1299 CLI-905: Fix api:environments:log-create
  assets/acquia-spec.yaml
  src/Command/Api/ApiCommandHelper.php
Labels: bug

#1300 Adding new command to update PHP version for code studio.
  src/Command/CodeStudio/CodeStudioCommandTrait.php
  src/Command/CodeStudio/CodeStudioPhpVersionCommand.php
  src/Command/CommandBase.php
  src/Command/Ide/IdePhpVersionCommand.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPhpVersionCommandTest.php
Labels: enhancement

#1304 CLI-925: Clean up invalid config exception
  src/DataStore/Datastore.php
  src/DataStore/JsonDataStore.php
  src/DataStore/YamlStore.php
  src/EventListener/ExceptionListener.php
Labels: enhancement

#1306 CLI-932: Test on PHP 8.2
  .github/workflows/ci.yml
Labels: chore

#1310 Fix #1002: Adding new command to list details of the VCS branches / tags of an application
  src/Command/App/AppVcsInfo.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/AppVcsInfoTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1321 CLI-940: Escaped mutants from bad exception expection
  tests/phpunit/src/CloudApi/AccessTokenConnectorTest.php
  tests/phpunit/src/Commands/Acsf/AcsfAuthLoginCommandTest.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/Commands/App/LinkCommandTest.php
  tests/phpunit/src/Commands/App/UnlinkCommandTest.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPhpVersionCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Commands/Email/ConfigurePlatformEmailCommandTest.php
  tests/phpunit/src/Commands/Email/EmailInfoForSubscriptionCommandTest.php
  tests/phpunit/src/Commands/Env/EnvCreateCommandTest.php
  tests/phpunit/src/Commands/Ide/IdePhpVersionCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeServiceRestartCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeServiceStartCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeServiceStopCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
Labels: chore

#1327 CLI-944: Remove iconv dependency
  composer.json
  composer.lock
  src/Descriptor/ReStructuredTextDescriptor.php
Labels: chore

#1338 CLI-935: IDE timeout error handling
  src/Command/Ide/IdeCreateCommand.php
  src/Helpers/LoopHelper.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
Labels: bug

#1323 Fix #1322: Adding flag to show only deployed VCS
  src/Command/App/AppVcsInfo.php
  tests/phpunit/src/Commands/App/AppVcsInfoTest.php
Labels: enhancement

#1342 Adding some test cases for the EnvCronCopy and EnvDelete command.
  tests/phpunit/src/Commands/Env/EnvCopyCronCommandTest.php
  tests/phpunit/src/Commands/Env/EnvDeleteCommandTest.php
Labels: chore

#1344 CLI-947: Fix broken ACSF factory URLs
  src/Config/CloudDataConfig.php
  tests/phpunit/src/AcsfApi/EnvVarAcsfAuthenticationTest.php
  tests/phpunit/src/Commands/Acsf/AcsfCommandTestBase.php
Labels: bug
