Repository acquia/cli, pull requests merged in 2023-12, with the labels that each got.

#1645 [tests] Remove setupPullDatabase
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/LogTailCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1649 CLI-1071: Abandoned GitLab dependency
  composer.json
  composer.lock
Labels: chore

#1646 CLI-1226: Support objects as API params
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
Labels: bug

#1652 CLI-1158: Stop suppressing posix warnings
  src/Helpers/LocalMachineHelper.php
Labels: chore

#1653 CLI-1219: API key labels should be email addresses
  .phpstorm.meta.php
  src/Command/Auth/AuthLoginCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1655 Allow other descriptor formats to be used to render docs.
  src/Command/Self/MakeDocsCommand.php
Labels: enhancement
