Repository acquia/cli, pull requests merged in 2023-09, with the labels that each got.

#1587 d.o's GitLab instance 403s if `User-Agent` is absent or empty
  src/Command/App/NewFromDrupal7Command.php
Labels: bug

#1588 Make `acli app:new:from:drupal7` default to the latest AMA recommendations on d.o
  src/Command/App/NewFromDrupal7Command.php
Labels: enhancement

#1590 Make `acli app:new:from:drupal7` defer entirely to the recommendations
  config/from_d7_config.json
Labels: bug

#1595 Explicitly set php version to be used during CI build
  .github/workflows/ci.yml
Labels: chore

#1586 Set code studio default env variable values to be masked
  src/Command/CodeStudio/CodeStudioCiCdVariables.php
  tests/phpunit/src/CommandTestBase.php
Labels: bug
