Repository acquia/cli, pull requests merged in 2023-10, with the labels that each got.

#1594 Added prompt for php version for cs:wizard command
  src/Command/CodeStudio/CodeStudioCiCdVariables.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#1603 CLI-1157: Fix Jira workflow
  .github/workflows/jira.yml
Labels: chore

#1605 CLI-1039: Update box, fix typeerror in some terminals
  composer.json
  composer.lock
Labels: bug

#1606 CLI-1136: [push:artifact] include empty directories and symlinks
  src/Command/Push/PushArtifactCommand.php
Labels: bug

#1609 CLI-1143: Don't use invalidated access keys
  composer.json
  composer.lock
Labels: bug

#1611 CLI-1171: Home directory errors on Windows
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/Misc/LocalMachineHelperTest.php
  tests/phpunit/src/TestBase.php
Labels: bug

#1584 BLT-5222: [push:artifact] Add no-clone / no-commit
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#1614 CLI-1181: [pull:code] disable scripts for build branches
  src/Command/Pull/PullCommandBase.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
Labels: enhancement

#1615 CLI-1172: Drop support for PHP 8.0
  .github/workflows/ci.yml
  .github/workflows/mutation.yml
  assets/symfony-console-rst.patch
  assets/symfony-fs-mirror.patch
  composer.json
  composer.lock
Labels: chore

#1618 CLI-1168: Improve Dockerfile
  Dockerfile
  docker/Dockerfile
  docker/docker-entrypoint.sh
Labels: enhancement

#1619 CLI-1191: Support XDG Base Dir
  bin/acli
  config/prod/services.yml
  src/Helpers/LocalMachineHelper.php
  tests/phpunit/src/Misc/LocalMachineHelperTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1617 GL-1723: Added expires_at mandatory arg for codestudio token.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: bug
