Repository acquia/cli, pull requests merged in 2024-04, with the labels that each got.

#1709 GL-2368: Added node specific ciPath for node project.
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#1716 CLI-1294: [auth:logout] warning when key is invalid
  src/Application.php
  src/Command/Auth/AuthLoginCommand.php
  src/Command/Auth/AuthLogoutCommand.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
  tests/phpunit/src/Commands/Auth/AuthLogoutCommandTest.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
Labels: bug

#1718 CLI-1282: [remote:aliases:download] warning on read-only directory
  src/Command/Remote/AliasesDownloadCommand.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
Labels: bug

#1719 CLI-1316: [log:tail] warning for non-interactive mode
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/App/LogTailCommandTest.php
Labels: bug

#1722 CLI-1314: Link GitHub PRs to Jira
  .github/workflows/jira.yml
Labels: chore

#1725 CLI-1182: Improve Phar visibility for PRs
  .github/workflows/ci.yml
  .github/workflows/upload-s3.yml
Labels: chore

#1729 Convert loopy to static methods
  src/Command/Ssh/SshKeyCommandBase.php
Labels: chore

#1728 CLI-1325: [ide:delete] Accept IDE uuid as option
  .github/workflows/mutation.yml
  .phpstorm.meta.php
  src/Command/CommandBase.php
  src/Command/Ide/IdeCommandBase.php
  src/Command/Ide/IdeDeleteCommand.php
  src/Command/Ide/Wizard/IdeWizardCommandBase.php
  src/Command/Ide/Wizard/IdeWizardDeleteSshKeyCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  tests/phpunit/src/Commands/Ide/IdeDeleteCommandTest.php
  tests/phpunit/src/Commands/Ide/IdeHelper.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardDeleteSshKeyCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1730 CLI-1317: api:base is not a valid command
  src/Command/Api/ApiBaseCommand.php
  tests/phpunit/src/Commands/Api/ApiBaseCommandTest.php
Labels: bug

#1732 CLI-1328: Pull command asks for environment twice
  src/Command/Pull/PullCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Pull/PullDatabaseCommand.php
  src/Command/Pull/PullFilesCommand.php
  tests/phpunit/src/Commands/Archive/ArchiveExporterCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCodeCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Pull/PullScriptsCommandTest.php
Labels: bug

#1737 GL-2530 : PHP 8.3 support for CodeStudio
  src/Command/CodeStudio/CodeStudioWizardCommand.php
Labels: enhancement
