Repository acquia/cli, pull requests merged in 2024-09, with the labels that each got.

#1784 Example to support / Push to multiple git remotes.
  src/Command/Push/PushArtifactCommand.php
Labels: enhancement

#1781 CLI-1377 Delay API lookup of application by ID
  src/Command/CommandBase.php
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#1793 CLI-1378: Multiple push:artifact remotes
  src/Command/Push/PushArtifactCommand.php
Labels: enhancement, support

#1789 CLI-1389: push.artifact.destination_git_urls in acquia cli config
  src/Command/Push/PushArtifactCommand.php
  src/Config/AcquiaCliConfig.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: bug

#1795 CLI-1392: Redundant version notifications
  .github/workflows/ci.yml
  bin/acli
  composer.json
  composer.lock
  src/Command/CommandBase.php
  tests/phpunit/src/Application/KernelTest.php
  tests/phpunit/src/ApplicationTestBase.php
  tests/phpunit/src/TestBase.php
Labels: bug

#1796 CLI-1389: Catch datastore validation errors in tests
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/AppOpenCommandTest.php
  tests/phpunit/src/Commands/App/LinkCommandTest.php
  tests/phpunit/src/Commands/App/UnlinkCommandTest.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/Remote/AliasesDownloadCommandTest.php
  tests/phpunit/src/Commands/TelemetryCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: chore

#1801 CLI-1388: Deprecate source-git-tag
  src/Command/Push/PushArtifactCommand.php
Labels: bug

#1802 CLI-1397: Exception on local non-RSA SSH keys
  src/Command/Ssh/SshKeyCommandBase.php
Labels: bug

#1804 CLI-1405: LocalMachineHelperTest::testExecuteFromCmd failure
  tests/phpunit/src/Misc/ChecklistTest.php
  tests/phpunit/src/Misc/LocalMachineHelperTest.php
Labels: bug
