Repository acquia/cli, pull requests merged in 2024-05, with the labels that each got.

#1734 CLI-1330: TypeError for SSH commands on Node environments
  src/Command/CommandBase.php
  src/Command/Env/EnvCertCreateCommand.php
  src/Command/Pull/PullCommandBase.php
  src/Command/Push/PushDatabaseCommand.php
  src/Command/Push/PushFilesCommand.php
  src/Command/Remote/DrushCommand.php
  src/Command/Remote/SshCommand.php
  src/Command/Ssh/SshKeyCommandBase.php
  src/Helpers/SshHelper.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/App/LogTailCommandTest.php
  tests/phpunit/src/Commands/Env/EnvCertCreateCommandTest.php
  tests/phpunit/src/Commands/Ide/Wizard/IdeWizardCreateSshKeyCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullDatabaseCommandTest.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
  tests/phpunit/src/Commands/Ssh/SshKeyUploadCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
Labels: bug

#1733 CLI-1320: Update cx-api-spec to provide OS upgrade API
  assets/acquia-spec.json
  assets/acquia-spec.yaml
  assets/acsf-spec.json
  assets/acsf-spec.yaml
  bin/acli
  composer.json
  src/Command/Api/ApiCommandHelper.php
  tests/phpunit/src/CloudApi/AcsfClientServiceTest.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Acsf/AcsfCommandTestBase.php
  tests/phpunit/src/Commands/Acsf/AcsfListCommandTest.php
  tests/phpunit/src/Commands/Pull/PullCommandTestBase.php
  tests/phpunit/src/Commands/Ssh/SshKeyInfoCommandTest.php
  tests/phpunit/src/Misc/ApiSpecTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1739 CLI-1334: TypeError in auth:login
  src/Command/Auth/AuthLoginCommand.php
  src/Command/Auth/AuthLogoutCommand.php
  src/Config/CloudDataConfig.php
  src/DataStore/Datastore.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
  tests/phpunit/src/Commands/Auth/AuthLogoutCommandTest.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
Labels: bug

#1741 Track environment provider in telemetry.
  src/Helpers/TelemetryHelper.php
  tests/phpunit/src/Misc/TelemetryHelperTest.php
Labels: enhancement

#1744 CLI-1337: Ignore mutations for logger
  infection.json5
Labels: chore

#1747 CLI-1336: Isolate cache dir per test
  src/Kernel.php
Labels: chore
