Repository acquia/cli, pull requests merged in 2024-07, with the labels that each got.

#1763 CLI-1344: [push:artifact] support pushing to master
  src/Command/Push/PushArtifactCommand.php
  tests/phpunit/src/Commands/Push/PushArtifactCommandTest.php
Labels: enhancement

#1767 GL-2753 : CS Wizard updated node version select values
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: chore

#1766 CLI-1192: Symfony 6.3.4 breaks checklists
  composer.json
  composer.lock
  src/Output/Checklist.php
  src/Output/Spinner/Spinner.php
  tests/phpunit/src/Misc/ChecklistTest.php
Labels: bug

#1769 CLI-19: [self-update] respect proxy settings
  composer.json
  composer.lock
Labels: bug

#1770 CLI-1362: [push:db] mysqldump failure not surfaced
  src/Command/CommandBase.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Push/PushDatabaseCommandTest.php
Labels: bug

#1772 CLI-1327: Handle corrupt db
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
Labels: enhancement
