Repository acquia/cli, pull requests merged in 2024-03, with the labels that each got.

#1694 Pass default domain to remote drush command
  src/Command/Remote/DrushCommand.php
  tests/phpunit/src/Commands/Remote/DrushCommandTest.php
Labels: enhancement

#1683 GL-2039: Added prompt for nodejs and php project selection.
  src/Command/CodeStudio/CodeStudioCiCdVariables.php
  src/Command/CodeStudio/CodeStudioWizardCommand.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioCiCdVariablesTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioPipelinesMigrateCommandTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
  tests/phpunit/src/Commands/WizardTestBase.php
Labels: enhancement

#1695 GL-2039-1: Fixed functionality and test cases for cs:wizard command.
  src/Command/CodeStudio/CodeStudioCiCdVariables.php
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioCiCdVariablesTest.php
  tests/phpunit/src/Commands/CodeStudio/CodeStudioWizardCommandTest.php
Labels: enhancement

#1699 CLI-1250: Update CXAPI spec to add environments:mod-proxy-status
  assets/acquia-spec.yaml
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
  tests/phpunit/src/TestBase.php
Labels: enhancement

#1700 CLI-1251: Exclude memory exhaustion from bugsnag
  src/Helpers/TelemetryHelper.php
Labels: chore

#1702 CLI-1290: [auth:login] php warning
  src/Command/Auth/AuthLoginCommand.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
Labels: bug

#1703 CLI-1286: [app:task-wait] typeerror for invalid notification uuid
  src/Command/CommandBase.php
  src/Command/Ide/IdeCreateCommand.php
  src/Helpers/LoopHelper.php
  tests/phpunit/src/Commands/Ide/IdeCreateCommandTest.php
Labels: bug

#1701 CLI-1292: Catch Cloud API type errors
  .phpstorm.meta.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
Labels: bug

#1706 CLI-1293: [env:cron-copy] type error in cron response
  composer.lock
Labels: bug

#1705 CLI-1293: [api:notifications:find] typeerror for sketchy notification strings
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/App/TaskWaitCommandTest.php
Labels: bug

#1707 CLI-1284: Exclude i/o error reports
  src/Helpers/TelemetryHelper.php
Labels: bug

#1710 CLI-1296: auth:login on 2.23.1 > Invalid key in Cloud datastore fixed
  src/Command/Auth/AuthLoginCommand.php
  tests/phpunit/src/Commands/Auth/AuthLoginCommandTest.php
Labels: bug

#1712 CLI-1297: Fix error messages for ACSF authentication
  src/Command/Acsf/AcsfApiBaseCommand.php
  src/Command/Acsf/AcsfCommandFactory.php
  src/Command/CommandBase.php
  src/CommandFactoryInterface.php
  src/EventListener/ExceptionListener.php
  tests/phpunit/src/Application/ExceptionApplicationTest.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/CommandBaseTest.php
  tests/phpunit/src/Misc/ExceptionListenerTest.php
Labels: bug

#1714 CLI-1268: Suppress posix warnings
  src/Helpers/LocalMachineHelper.php
Labels: bug

#1715 CLI-1302: [api:applications:environment-create] databases must be array
  src/Command/Api/ApiBaseCommand.php
  src/Command/Api/ApiCommandHelper.php
  src/Command/Auth/AuthAcsfLoginCommand.php
  tests/phpunit/src/Commands/Acsf/AcsfApiCommandTest.php
  tests/phpunit/src/Commands/Api/ApiCommandTest.php
Labels: bug
