Repository acquia/cli, pull requests merged in 2025-01, with the labels that each got.

#1841 Add commit SHA to dev build versions
  .github/workflows/ci.yml
Labels: chore

#1839 CLI-1473: Pull default site if non-interactive.
  src/Command/CommandBase.php
  tests/phpunit/src/Commands/Pull/PullCommandTest.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
  tests/phpunit/src/Commands/Push/PushFilesCommandTest.php
Labels: enhancement

#1840 Add option for bootstrapping new site with Drupal CMS
  src/Command/App/NewCommand.php
  tests/phpunit/src/Commands/App/NewCommandTest.php
Labels: enhancement

#1843 CLI-1466: Bugsnag-php minimum version bumped 3.29.2
  composer.json
  composer.lock
Labels: dependencies

#1844 CLI-1435: PHP error - undefined array key handled in pull command
  phpunit.xml.dist
  src/Command/CommandBase.php
  tests/fixtures/no-multisite-config.json
  tests/phpunit/src/CommandTestBase.php
  tests/phpunit/src/Commands/Pull/PullFilesCommandTest.php
Labels: bug

#1842 CLI-1485: Add SSH URL in alias list
  src/Command/Remote/AliasListCommand.php
  tests/phpunit/src/Commands/Remote/AliasesListCommandTest.php
Labels: enhancement
