Repository acquia/cli, pull requests merged in 2025-10, with the labels that each got.

#1910 CLI-1450: Drop support for PHP 8.1
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  composer.json
  composer.lock
Labels: chore

#1912 CLI-1484: Native binaries
  .github/workflows/build-spc.yml
  bin/acli
  composer.json
  var/craft.yml
Labels: enhancement

#1911 Remove Next ACMS from list of new applications
  src/Command/App/NewCommand.php
  tests/phpunit/src/Commands/App/NewCommandTest.php
Labels: enhancement

#1909 CLI-1628: Flaky environmenttransformer test error solved.
  tests/phpunit/src/Transformer/EnvironmentTransformerTest.php
Labels: bug
